### Importing Libraries

In [1]:
import psycopg2
import pandas as pd

### Connecting to Postgres

In [8]:
DB_NAME = "digitalmusicstoreanalysis"  
DB_USER = "dushyanth9652"              
DB_PASSWORD = "L1dVpXHIWULEbyKmqRHDXlrwdKJLWUdP" 
DB_HOST = "dpg-d07egjhr0fns738g4j40-a"
DB_PORT = "5432"
conn = psycopg2.connect("postgresql://digitalmusicstoreanalysis_1sph_user:2aJv24aEZQbdPyPxHxLTfKlSIMjsKCJ6@dpg-d07fbdpr0fns738gpplg-a.oregon-postgres.render.com/digitalmusicstoreanalysis_1sph")
conn.autocommit = True
cur = conn.cursor()

### Creating the Database

In [5]:
# Create database
#cur.execute(f"DROP DATABASE IF EXISTS {DB_NAME};")
#cur.execute(f"CREATE DATABASE {DB_NAME};")

#cur.close()
#conn.close()

print("✅ Database created!")

✅ Database created!

### Creating the Tables

In [11]:
conn = psycopg2.connect("postgresql://digitalmusicstoreanalysis_c7kr_user:ZY1ux0SCrWWhl94QTKPRVcqWSzUJb9F4@dpg-d07fdq9r0fns738gro70-a.oregon-postgres.render.com/digitalmusicstoreanalysis_c7kr")
cur = conn.cursor()

In [12]:
def create_tables():
    cur.execute("""
    CREATE TABLE Artist (
        ArtistId SERIAL PRIMARY KEY,
        Name TEXT NOT NULL
    );

    CREATE TABLE Album (
        AlbumId SERIAL PRIMARY KEY,
        Title TEXT NOT NULL,
        ArtistId INTEGER REFERENCES Artist(ArtistId) ON DELETE CASCADE
    );

    CREATE TABLE Genre (
        GenreId SERIAL PRIMARY KEY,
        Name TEXT NOT NULL
    );

    CREATE TABLE MediaType (
        MediaTypeId SERIAL PRIMARY KEY,
        Name TEXT NOT NULL
    );

    CREATE TABLE Track (
        TrackId SERIAL PRIMARY KEY,
        Name TEXT,
        AlbumId INTEGER REFERENCES Album(AlbumId) ON DELETE CASCADE,
        MediaTypeId INTEGER REFERENCES MediaType(MediaTypeId) ON DELETE SET NULL,
        GenreId INTEGER REFERENCES Genre(GenreId) ON DELETE SET NULL,
        Composer TEXT,
        Milliseconds INTEGER,
        Bytes INTEGER
    );

    CREATE TABLE Playlist (
        PlaylistId SERIAL PRIMARY KEY,
        Name TEXT NOT NULL
    );

    CREATE TABLE PlaylistTrack (
        PlaylistId INTEGER REFERENCES Playlist(PlaylistId) ON DELETE CASCADE,
        TrackId INTEGER REFERENCES Track(TrackId) ON DELETE CASCADE,
        PRIMARY KEY (PlaylistId, TrackId)
    );

    CREATE TABLE Employee (
        EmployeeId SERIAL PRIMARY KEY,
        LastName TEXT,
        FirstName TEXT,
        Title TEXT,
        ReportsTo INTEGER REFERENCES Employee(EmployeeId) ON DELETE SET NULL,
        BirthDate DATE,
        HireDate DATE,
        Address TEXT,
        City TEXT,
        State TEXT,
        Country TEXT,
        PostalCode TEXT,
        Phone TEXT,
        Fax TEXT,
        Email TEXT
    );

    CREATE TABLE Customer (
        CustomerId SERIAL PRIMARY KEY,
        FirstName TEXT,
        LastName TEXT,
        Company TEXT,
        Address TEXT,
        City TEXT,
        State TEXT,
        Country TEXT,
        PostalCode TEXT,
        Phone TEXT,
        Fax TEXT,
        Email TEXT,
        SupportRepId INTEGER REFERENCES Employee(EmployeeId) ON DELETE SET NULL
    );

    CREATE TABLE Invoice (
        InvoiceId SERIAL PRIMARY KEY,
        CustomerId INTEGER REFERENCES Customer(CustomerId) ON DELETE CASCADE,
        InvoiceDate DATE,
        BillingAddress TEXT,
        BillingCity TEXT,
        BillingState TEXT,
        BillingCountry TEXT,
        BillingPostalCode TEXT,
        Total DECIMAL(10,2)
    );

    CREATE TABLE Subscription (
        SubscriptionId SERIAL PRIMARY KEY,
        CustomerId INTEGER REFERENCES Customer(CustomerId) ON DELETE CASCADE,
        PlanType TEXT,
        StartDate DATE,
        EndDate DATE,
        BillingAmount DECIMAL(10,2),
        AutoRenew BOOLEAN
    );

    CREATE TABLE UserActivity (
        ActivityId SERIAL PRIMARY KEY,
        CustomerId INTEGER REFERENCES Customer(CustomerId) ON DELETE CASCADE,
        ActivityType TEXT,
        Timestamp TIMESTAMP
    );

    CREATE TABLE ListeningHistory (
        HistoryId SERIAL PRIMARY KEY,
        CustomerId INTEGER REFERENCES Customer(CustomerId) ON DELETE CASCADE,
        TrackId INTEGER REFERENCES Track(TrackId) ON DELETE CASCADE,
        ListenDate TIMESTAMP,
        Device TEXT
    );

    CREATE TABLE ArtistAnalytics (
        AnalyticsId SERIAL PRIMARY KEY,
        ArtistId INTEGER REFERENCES Artist(ArtistId) ON DELETE CASCADE,
        TotalStreams INTEGER,
        UniqueListeners INTEGER,
        RevenueEarned DECIMAL(10,2)
    );

    CREATE TABLE ArtistTrack (
        ArtistId INTEGER REFERENCES Artist(ArtistId) ON DELETE CASCADE,
        TrackId INTEGER REFERENCES Track(TrackId) ON DELETE CASCADE,
        PRIMARY KEY (ArtistId, TrackId)
    );

    CREATE TABLE ArtistAlbum (
        ArtistId INTEGER REFERENCES Artist(ArtistId) ON DELETE CASCADE,
        AlbumId INTEGER REFERENCES Album(AlbumId) ON DELETE CASCADE,
        PRIMARY KEY (ArtistId, AlbumId)
    );

    CREATE TABLE AdImpressions (
        AdId SERIAL PRIMARY KEY,
        CustomerId INTEGER REFERENCES Customer(CustomerId) ON DELETE CASCADE,
        AdType TEXT,
        RevenueGenerated DECIMAL(10,2),
        Timestamp TIMESTAMP
    );

    CREATE TABLE AudioFeatures (
        FeatureId SERIAL PRIMARY KEY,
        TrackId INTEGER REFERENCES Track(TrackId) ON DELETE CASCADE,
        Tempo INTEGER,
        KeySignature TEXT,
        Danceability DECIMAL(3,2)
    );
    """)
    conn.commit()

# Call the function to create tables
create_tables()
print("✅ All tables created successfully!")

# Close connection
cur.close()
conn.close()

✅ All tables created successfully!